/* colours:
blue: #1992d4 
yellow:#f0b429
white:#ffffff 
grey: #e2e8f0 */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

body, html {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(280px, 0.4fr) 2fr;
    grid-template-rows: 0.5fr 2fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    height: 100vh;
}

.grid-container > div {
    padding: 10px;
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;
    background-color: #1992d4;
    display: grid;
    grid-template-rows: repeat(12, 65px);
}

.options-header, .options {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: 700;
    gap: 20px;
    padding-left: 2em;
    padding-bottom: 1em;
    transition-duration: 0.4s;
}

.options:hover, .options-header:hover, button:hover, .bell:hover, .magnify:hover, .project-icons img:hover {
    transform: scale(1.1);
}

.card:hover {
    transform: scale(1.05);
}

.options-header {
    font-size: 1.8em;
    padding: 1em 1em 1em 1.3em;
    margin-top: 10px;
}

.options img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.options-header img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.blank {
    height: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}


.credit {
    display: flex;
    align-items: flex-end;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    padding-bottom: 10px;
    padding-left: 10px;
}

.credit a:visited {
    color: white;
    text-decoration: none;
}

.credit:hover {
    transform: scale(1.03);
}


/* Header */

.header {
    grid-area: header;
    background-color: #ffffff;
    display: grid;
    grid-template: 1.5fr 2.5fr / 5fr 3fr;
    padding: 1rem 3rem 0.5rem 3rem;
    box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.164);
}

.search, .profileTop, .profileBottom, .buttons { 
    min-width: 500px;
}

.magnify {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition-duration: 0.4s;
}

.bell {
    width: 20px;
    height: 20px;
    transition-duration: 0.4s;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.search input {
    background-color: #e2e8f0;
    border: 0px solid;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    margin-right: 30px;
    flex-grow: 1;
    outline: none;
}

input:focus {
    border: 2px solid #1992d4
}

.profileTop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 30px;
}

.profileBottom {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    padding-left: 20px;
}

.name {
    font-size: 1.3em;
    margin-top: 0;
}

.text {
    display: flex;
    flex-direction: column;
}

.greeting {
    margin-bottom: 5px;
    margin-top: 30px;
}

.profileTop p{
    font-size: 1.1em;
    font-weight: 700;
}

.pfp-small {
    width: 50px;
    height: 50px;
}

.pfp {
    width: 100px;
    height: 100px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 25px;
}

button {
    padding: 0.6rem 1.5rem;
    background-color: #1992d4;
    color: #ffffff;
    font-weight: 700;
    border: 0px solid;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

/* Main */

.main {
    grid-area: main;
    display: grid;
    background-color: #e2e8f0;
}


.projects {
    display: grid;
    grid-template: 30px repeat(2, 1fr) / repeat(3, minmax(300px, 33%));
    gap: 30px;
    padding: 0.2rem 1.5rem 1.5rem;
}

.projects p{
    grid-column: 1/4;
    font-weight: 500;
    font-size: 1.1rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.164);
}

.card.trending{
    align-items: flex-start;
    justify-content: center;
}

.cardContent {
    padding: 10px;
    width: 320px;
    max-width: 320px;
}

.cardContent h6{
    font-size: 1.2em;
    margin: 5px 0px 5px 0px;
}

.feeds {
    display: grid;
    grid-template: 30px 1fr 30px 1fr / 1fr;
    padding: 0.2rem 1.5rem 1.5rem;
    gap: 30px;
    grid-column: 4/5;
}

.feeds p{
    font-weight: 500;
    font-size: 1.2rem;
}

.cardContent p{
    font-size: 0.8em;
    margin: 3px 0px 20px 0px;
}


.border {
    border: 1px solid rgba(0, 0, 0, 0.164);;
    border-style: none none solid none;
}

.bg {
    background: linear-gradient(90deg, #1992d4 5%, #ffffff 5%);
}


.project-text {
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
}

.project-text h6 {
    font-size: 1.2em;
    margin: 0;
}

.project-text p {
    font-size: 0.9em;
    font-weight: 400;
}


.project-icons {
    width: 30px;
    height: 30px;
    align-self: center;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.project-icons img{
    transition: 0.4s;
}

.mini-pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 20px;
}

.textPfp p{
    font-size: 1em;
    margin: 0;
}
